.userInfo {
  background-color: #f1f8fb;
  display: flex;
  align-items: center;
  width: 80%;
  padding: 2rem 4rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(178, 178, 178, 0.5);
  text-transform: uppercase;
}
.profile {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 4rem;
}
.profile img {
  height: 80px;
  width: 80px;
}
.about {
  text-align: left;
}
.about .name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.about .designation {
  color: rgba(10, 157, 220, 0.79);
  font-weight: 500;
}
